body {background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN66M3fJd4i2onnSDcvZwBldn1L86noZBKJFt2TkAsIWEVjODW");
}
 h1 { text-shadow: 2px 2px;
 }
h1 { font-family: 'Kaushan Script', cursive;
 }
 p {font-size: 25px;
 }
 li { font-size: 25px;
 }
 h2 { font-size: 35px;
 text-shadow: 2px 2px;
 font-family: 'Kaushan Script', cursive;
 }
 img  { width: 400px;
 height: 300px;
 }
 img { border: inset;

 }